<a href="{{link.url}}">
    <article>
        <header>
            <h1>{{title}}</h1>
            <h3>author: {{author}} at {{date}}</h3>
        </header>
        <section>{{summary}}</section>
    </article>
</a>
