<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shire Digest</title>
</head>
<body>
    <section class="articles">
    {{#articles}}
        {{&.}}
    {{/articles}}
    </section>
</body>
</html>
