            <a class="m-post-card" href="{{link}}">
                <header class="m-meta">
                    <h3 class="m-author">{{author}}</h3>
                    <h1 class="m-title">{{title}}</h1>
                </header>
                <article class="m-content">
                    {{summary}}
                </article>
            </a>
